body {
    margin: 0;
}

button {
    color: white;
    background-color: #007cff;
    padding: 1%;
    width: 7vw;
    height: 3vh;
    text-align: center;
    
}


.mainImg {
    height: 60vh;
    width: 100vw;
    
}

.header > * {
    display: inline; 
    justify-content: space-between;
}

.container {
    position: relative;
    text-align: center;
  }

  .center1 {
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }
  .center2 {
    position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  }

  .leftHeader {
    padding-left: 10vw;
    padding-right: 60vw;
  }
  